<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Breakpoints</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
      integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav class="navigation">
      <h1 class="navigation__title">Jackets</h1>
      <div class="navigation__menu">
        <div class="navigation__filter">
          <label class="navigation__label">Filter by</label>
          <select class="navigation__select">
            <option>All</option>
            <option>2016</option>
            <option>Jackets</option>
            <option>Womens</option>
          </select>
        </div>
        <div class="navigation__sort">
          <label class="navigation__label">Sort by</label>
          <select class="navigation__select">
            <option>Featured</option>
            <option>Best seiling</option>
            <option>Price, low to hight</option>
            <option>Date, old to new</option>
          </select>
        </div>
      </div>
    </nav>
    <section class="products">
      <div class="product">
        <span class="product__sale"></span>
          <img class="product__img"
            src="https://cdn.shopify.com/s/files/1/0938/8938/products/10175100258_1_1264x1800_300_RGB_360x.jpeg?v=1445623366"
            alt="Haze Varsity"
          />
        <div class="product__info">
          <div class="product__name">Haze Varsity</div>
          <div class="product__price">132.96$</div>
          <div class="product__avail"></div>
        </div>
      </div>

      <div class="product">
        <span class="product__sale"></span>
          <img class="product__img"
            src="https://cdn.shopify.com/s/files/1/0938/8938/products/10231100205_1_1315x1800_300_CMYK_360x.jpeg?v=1445623369"
            alt="Greed Jacket"
          />
        <div class="product__info">
          <div class="product__name">Greed Jacket</div>
          <div class="product__price">From $161</div>
          <div class="product__avail"></div>
        </div>
      </div>
    </section>
  </body>
</html>
